<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>InsertServlet</servlet-name>
		<servlet-class>com.server.crud.InsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertServlet</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryAllServlet</servlet-name>
		<servlet-class>com.server.crud.QueryAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryAllServlet</servlet-name>
		<url-pattern>/queryAll</url-pattern>
	</servlet-mapping>
</web-app>
